name: Deploy to GitHub Pages  # ← Имя workflow

on:
  push:
    branches: [ main, master ]  # ← Запуск при пуше в main/master
  workflow_dispatch:            # ← Ручной запуск из интерфейса

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      # 1. Клонируем репозиторий
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Устанавливаем Python
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # 3. Устанавливаем marimo
      - name: Install marimo
        run: pip install marimo

      # 4. Экспортируем notebook
      - name: Export notebook
        run: | 
          ls
          mkdir -p output
          marimo export html-wasm notebooks/HW2.py -o output/HW2.html --mode run

      # 5. Загружаем артефакт
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: output/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
